header{
    height: 100px;
}

header > .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #2955D9;
}

header h1 {
    color: #57F29A;
}